{% extends 'base.html.twig' %}

{% block title %}Hello CompetitionController!{% endblock %}

{% block body %}
    <div class = "mb-3">
        <hr>
        <a href="{{ path('create_competition') }}">Создать соревнование</a>
        <hr>
        {{ render(controller('App\\Controller\\CompetitionController::addPlayer')) }}
        <hr>
        <a href="{{ path('show_ended_competition') }}">Открытые соревнования</a>
        <hr>
    </div>
    {% for competition in competitions %}
        <div class = "container">
            <div class="card col-4 mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ competition.name }}</h5>
                    <p class="card-text">{{ competition.description }}</p>
                    <hr>
                    <a href="{{ path('show_competition', {'competition': competition.id}) }}">Подробнее</a>
                </div>
            </div>
        </div>
        <div class = "col-1"></div>
    {% endfor %}
{% endblock %}
