{% extends 'base.html.twig' %}

{% block title %}Hello CompetitionController!{% endblock %}

{% block body %}
    <div class = "mb-3">
        <hr>
        <a href="{{ path('create_competition') }}">Создать соревнование</a>
        <hr>
        {{ render(controller('App\\Controller\\CompetitionController::addPlayer')) }}
        <hr>
    </div>
    {% for competition in competitions %}
        <div class = "container">
            <div class="card col-4 mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ competition.name }}</h5>
                    <a href="{{ path('user_show', {'secondUser': competition.lider.id}) }}">{{ competition.lider.firstName }}</a>
                    <p class="card-text">{{ competition.description }}</p>
                    <a href = "{{ path('user_show', {'secondUser': competition.lider.id}) }}">Написать руководителю</a>
                    <hr>
                    <a href="{{ path('connect_competition_public', {'competition': competition.id}) }}">Подключиться</a>
                </div>
            </div>
        </div>
        <div class = "col-1"></div>
    {% endfor %}
{% endblock %}
