{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main class = "d-flex flex-row">
        <nav class = "p-2 flex-fill">
            <ul class="nav flex-column">
                <li class="nav-item btn btn-warning w-25 mb-3">
                    <a class="nav-link" href="{{ path("user_profile", {user:app.user.id}) }}">Профиль</a>
                </li>
                <li class="nav-item btn btn-warning w-25 mb-3">
                    <a class="nav-link" href="{{ path("messages", {user:app.user.id}) }}">Сообщения</a>
                </li>
                <li class="nav-item btn btn-warning w-25 mb-3">
                    <a class="nav-link" href="{{ path("friends_show", {user:app.user.id}) }}">Друзья</a>
                </li>
                <li class="nav-item btn btn-warning w-25 mb-3">
                    <a class="nav-link" href="{{ path("user_history", {user:app.user.id}) }}">История</a>
                </li>
                <li class="nav-item btn btn-warning w-25 mb-3">
                    <a class="nav-link" href="{{ path("notice") }}">Уведомления</a>
                </li>
            </ul>
        </nav>
        <section class = "p-2 flex-fill">
            {% block section %}
            {% endblock %}
        </section>
    </main>
{% endblock %}