{% extends 'user/base_user.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block section %}
    <h1>Оповещания</h1>
    {% for notice in notices %}
        <div class="card w-75  text-center mt-3">
            <div class="card-body">
                <h5 class="card-title">
                    Тип: {{ notice.type }}
                </h5>
                {% if notice.secondUser %}
                    <p>Принять друга: {{ notice.secondUser.firstName}}</p>
                    <a href = "{{ path('add_friend', {secondUser: notice.secondUser.id})}}">Принять дружбу</a>
                {% endif %}
                {% if notice.type == "admin_competition" %}
                    <p>Вы являетесь создантелем соревнования {{ notice.competition.name }}</p>
                    <a href = "{{ path('admin_competition_game', {competition: notice.competition.id})}}">Перейти в админку</a>
                {% endif %}
                {% if notice.type == "invite_competition" %}
                    <p>Вас пригласили на соревнование: {{ notice.competition.name }}</p>
                    <a href = "{{ path('connect_competition_invite', {competition: notice.competition.id})}}">Присоединиться</a>
                {% endif %}
                {% if notice.type == "competition" %}
                    <p>Вы участвуете в соревновании: {{ notice.competition.name }}</p>
                    <a href = "{{ path('show_competition', {competition: notice.competition.id})}}">Перейти</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
